.option {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.option-label {
    width: 34%;
    margin-right: 8px;
    font-weight: 600;
    color: grey;
}

.option-label span {
    cursor: pointer;
}

.result {
    width: 270px;
    padding: 4px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    color: rgba(58, 62, 65, 0.93);
}